:root{
    --light-color: #ebf2f1;
    --primary-color: #098abd;
    --secondary-color: #6883A6;
    --dark-color: #181D26;
    --tittle-font: "Poppins", sans-serif;
    --body-font: "Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    height: 100vh;
    place-items: center;
    background-color: var(--light-color);
    font-family: var(--body-font);
    color: var(--dark-color)
}

body form{
    width: 600px;
    height: 100%;
    border-radius: 4px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

body form h1{
    font-family: var(--tittle-font);
    font-size: 2rem;
    margin-bottom: 24px;
}

body form div{
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--secondary-color);
    flex-direction: column;
    margin-top: 16px;
    height: 72px;
    gap: 4px;
}

body form div select{
    display: block;
    padding-bottom: 4px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    border: none;
    color: var(--primary-color);
    font-family: var(--body-font);
    font-size: .9rem;
    cursor: pointer;
}

body form div p{
    width: 240px;
}

body form div a{
    width: 100%;
    color: var(--primary-color);
    font-size: .9rem;
}

body form div select:hover,
body form div a:hover{
    background-color: rgba(0,0,0,0.1);
}

@media (max-width: 721px) {
    body form{
        width: 100%;
    }
}
